In [1]:
import sys
sys.path.append("../")

import pandas as pd
import os

from library import regulations
from library import analysis
from library import tables

In [2]:
data_path = '/Users/kylieleblancKylie/domino/dofis/data/'
table_path = '/Users/kylieleblancKylie/domino/dofis/results/descriptive/'
data = pd.read_csv(os.path.join(data_path, 'clean', 'master_data_district.csv'),
                  sep=",")
data.sample(5)

/Users/kylieleblancKylie/anaconda/envs/spacy/lib/python3.7/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Unnamed: 0,year,district,distname,distischarter,rating_academic,rating_financial,type,type_description,cntyname,...,district_status,type_urban,type_suburban,type_town,type_rural,eligible,teachers_nodegree,teachers_badegree,teachers_msdegree,teachers_phddegree
7613,7613,2018,61802,NORTH TEXAS COLLEGIATE ACADEMY,Y,C,Pass,I,CHARTER SCHOOL DISTRICTS,DENTON,...,charter,0,0,0,0,0,0.019178,0.706849,0.273973,0.00000
3264,3264,2014,161807,HARMONY SCIENCE ACAD (WACO),Y,M,NaN,I,CHARTER SCHOOL DISTRICTS,MCLENNAN,...,charter,0,0,0,0,0,0.015482,0.783715,0.196933,0.00387
4773,4773,2015,227806,UNIVERSITY OF TEXAS UNIVERSITY CHA,Y,A,Pass,I,CHARTER SCHOOL DISTRICTS,TRAVIS,...,charter,0,0,0,0,0,0.000000,0.798319,0.201681,0.00000
4662,4662,2015,201903,LANEVILLE ISD,N,M,Pass,H,RURAL,RUSK,...,doi,0,0,0,1,1,0.000000,0.567568,0.432432,0.00000
1663,1663,2013,87901,GLASSCOCK COUNTY ISD,N,M,NaN,H,RURAL,GLASSCOCK,...,doi,0,0,0,1,1,0.000000,0.766667,0.233333,0.00000

In [3]:
data = data[data.year == 2016]
data = data[data.doi == True]
data.sample(5)

,Unnamed: 0,year,district,distname,distischarter,rating_academic,rating_financial,type,type_description,cntyname,...,district_status,type_urban,type_suburban,type_town,type_rural,eligible,teachers_nodegree,teachers_badegree,teachers_msdegree,teachers_phddegree
5743,5743,2016,169911,SAINT JO ISD,N,M,Pass,H,RURAL,MONTAGUE,...,doi,0,0,0,1,1,0.000000,0.735395,0.264605,0.0
5449,5449,2016,102903,WASKOM ISD,N,M,Pass,G,NON-METROPOLITAN STABLE,HARRISON,...,doi,0,0,1,0,1,0.000000,0.838710,0.161290,0.0
6002,6002,2016,228905,APPLE SPRINGS ISD,N,M,Pass,H,RURAL,TRINITY,...,doi,0,0,0,1,1,0.015957,0.771277,0.212766,0.0
6035,6035,2016,236901,NEW WAVERLY ISD,N,M,Pass,G,NON-METROPOLITAN STABLE,WALKER,...,doi,0,0,1,0,1,0.000000,0.877900,0.122100,0.0
5618,5618,2016,138902,KNOX CITY-O’BRIEN ISD,N,M,Pass,H,RURAL,KNOX,...,doi,0,0,0,1,1,0.000000,0.939940,0.060060,0.0

In [8]:
data.geography.value_counts()

Rural       361
Town        222
Suburban    200
Urban        39
Name: geography, dtype: int64

# Geography

In [4]:
columns = ['Count', 'Percent Urban', 'Percent Suburban', 'Percent Town', 'Percent Rural', 'F-test p-value']

In [24]:
schedules_df = analysis.create_count_proportion_df(data, list_of_regs = regulations.schedules, 
                                                dict_of_reg_labels = regulations.labels)
tables.df_to_excel(file = table_path + 'desc_exemptionsXgeography.xlsx', df = schedules_df,
                  df_columns = columns, start_row = 5, start_col = 3)
schedules_df

/Users/kylieleblancKylie/anaconda/envs/spacy/lib/python3.7/site-packages/statsmodels/compat/pandas.py:49: FutureWarning: The Panel class is removed from pandas. Accessing it from the top-level namespace will also be removed in the next version
  data_klasses = (pandas.Series, pandas.DataFrame, pandas.Panel)

,Regulation,Count,Percent Urban,Percent Suburban,Percent Town,Percent Rural,F-test p-value
0,25.0811 - Minimum First Day of Instruction,798,0.95,0.96,0.98,0.98,0.30
1,25.081 - Minimum Minutes of Operation,356,0.49,0.40,0.39,0.47,0.17
2,25.0812 - Minimum Last Day of Instruction,231,0.26,0.24,0.26,0.32,0.26
3,25.082 - Pledge of Allegiance and Minute of Si...,208,0.26,0.21,0.25,0.28,0.38

In [26]:
class_size_df = analysis.create_count_proportion_df(data, list_of_regs = regulations.class_size,
                                                 dict_of_reg_labels = regulations.labels)
tables.df_to_excel(file = table_path + 'desc_exemptionsXgeography.xlsx', df = class_size_df,
                  df_columns = columns, start_row = 10, start_col = 3)
class_size_df

,Regulation,Count,Percent Urban,Percent Suburban,Percent Town,Percent Rural,F-test p-value
0,25.112 - Class Size Maximum,363,0.38,0.42,0.45,0.45,0.81
1,25.113 - Notice of Class Size,299,0.36,0.35,0.39,0.36,0.86
2,25.111 - Maximum Student Teacher Ratio,127,0.21,0.16,0.14,0.15,0.76

In [27]:
certification_df = analysis.create_count_proportion_df(data, 
                                                 list_of_regs = regulations.certification, 
                                                 dict_of_reg_labels = regulations.labels)
tables.df_to_excel(file = table_path + 'desc_exemptionsXgeography.xlsx', df = certification_df,
                  df_columns = columns, start_row = 14, start_col = 3)
certification_df

,Regulation,Count,Percent Urban,Percent Suburban,Percent Town,Percent Rural,F-test p-value
0,21.003 - Teacher Certification Required,714,0.74,0.82,0.88,0.91,0.00
1,21.053 - Presentation of Teacher Certificates,240,0.31,0.24,0.32,0.30,0.40
2,21.057 - Notice of Uncertified Teacher,271,0.28,0.26,0.36,0.35,0.12

In [28]:
contracts_df = analysis.create_count_proportion_df(data, 
                                                 list_of_regs = regulations.contracts, 
                                                 dict_of_reg_labels = regulations.labels)
tables.df_to_excel(file = table_path + 'desc_exemptionsXgeography.xlsx', df = contracts_df,
                  df_columns = columns, start_row = 18, start_col = 3)
contracts_df

,Regulation,Count,Percent Urban,Percent Suburban,Percent Town,Percent Rural,F-test p-value
0,21.102 - Maximum Probationary Contract Length,419,0.18,0.41,0.58,0.56,0.00
1,21.401 - Minimum Service Days Required for Tea...,290,0.03,0.12,0.28,0.56,0.00
2,21.352 - Teacher Evaluation,166,0.21,0.22,0.20,0.19,0.88
3,21.354 - Administrator Evaluation,46,0.10,0.06,0.04,0.06,0.44

In [29]:
behavior_df = analysis.create_count_proportion_df(data, 
                                                 list_of_regs = regulations.behavior, 
                                                 dict_of_reg_labels = regulations.labels)
tables.df_to_excel(file = table_path + 'desc_exemptionsXgeography.xlsx', df = behavior_df,
                  df_columns = columns, start_row = 23, start_col = 3)
behavior_df

,Regulation,Count,Percent Urban,Percent Suburban,Percent Town,Percent Rural,F-test p-value
0,25.092 - Minimum Attendance for Class Credit,214,0.51,0.34,0.26,0.19,0.0
1,37.0012 - Designation of Campus Behavior Coord...,178,0.36,0.28,0.27,0.13,0.0
2,25.036 - Transfers,178,0.05,0.06,0.23,0.31,0.0