In [33]:
import pandas as pd
import os
from library import start
from library import clean_for_merge

In [34]:
tea = pd.read_csv(os.path.join(start.data_path, 'tea', 'desc_long.csv'),
                  sep=",")
tea = tea[['district', 'distname', 'year', 
          'cntyname', 'distischarter', 'rating',
          'students_num', 'students_frpl_num',
          'students_black_num', 'students_hisp_num', 'students_white_num',
          'teachers_num', 'teachers_new_num', 'teacher_turnover_num', 
          'teachers_turnover_denom', 'teachers_turnover_ratio',
          'teachers_exp_ave', 'teachers_tenure_ave',
          'teachers_nodegree_num', 'teachers_badegree_num',
          'teachers_msdegree_num', 'teachers_phddegree_num',
          'r_3rd_avescore','r_3rd_numtakers',
          'm_3rd_avescore', 'm_3rd_numtakers',
          'r_4th_avescore', 'r_4th_numtakers',
          'm_4th_avescore', 'm_4th_numtakers',
          'r_5th_avescore', 'r_5th_numtakers',
          'm_5th_avescore', 'm_5th_numtakers',
          'r_6th_avescore', 'r_6th_numtakers',
          'm_6th_avescore', 'm_6th_numtakers',
          'r_7th_avescore', 'r_7th_numtakers',
          'm_7th_avescore', 'm_7th_numtakers',
          'r_8th_avescore', 'r_8th_numtakers', 
          'm_8th_avescore', 'm_8th_numtakers',
          'alg_avescore', 'alg_numtakers', 
          'bio_avescore', 'bio_numtakers',
          'eng1_avescore', 'eng1_numtakers', 
          'eng2_avescore', 'eng2_numtakers',
          'us_avescore', 'us_numtakers']]
tea.head()

,district,distname,year,cntyname,distischarter,rating,students_num,students_frpl_num,students_black_num,students_hisp_num,...,alg_avescore,alg_numtakers,bio_avescore,bio_numtakers,eng1_avescore,eng1_numtakers,eng2_avescore,eng2_numtakers,us_avescore,us_numtakers
0,1902,CAYUGA ISD,yr1112,ANDERSON,N,NaN,590,220,35,30,...,4079.0,61.0,4049.0,60.0,2049.0,62.0,NaN,NaN,3535.0,44.0
1,1903,ELKHART ISD,yr1112,ANDERSON,N,NaN,1271,706,62,100,...,4012.0,68.0,3608.0,80.0,2040.0,79.0,NaN,NaN,NaN,NaN
2,1904,FRANKSTON ISD,yr1112,ANDERSON,N,NaN,733,425,82,76,...,3733.0,34.0,3512.0,32.0,1898.0,37.0,NaN,NaN,3503.0,37.0
3,1906,NECHES ISD,yr1112,ANDERSON,N,NaN,403,163,29,40,...,3885.0,33.0,4056.0,33.0,1968.0,34.0,NaN,NaN,NaN,NaN
4,1907,PALESTINE ISD,yr1112,ANDERSON,N,NaN,3220,2470,903,1255,...,3657.0,160.0,3847.0,196.0,1858.0,196.0,NaN,NaN,3713.0,198.0

In [35]:
laws = pd.read_csv(os.path.join(start.data_path, 'plans', 'doi_final.csv'),
                   sep=",")
laws = laws.drop(['Unnamed: 0', 'level', 'type', 'link', 'p_doi', 'date_p'],
                 axis = 1)
laws = laws.rename({'district': 'distname'}, axis = 1)
laws.head()

,distname,date,reg1_251,reg1_253,reg102_1301,reg102_1303,reg102_1305,reg102_1307,reg102_1309,reg102_1311,...,reg551_083,reg551_084,reg552_023,reg552_024,reg7_056,reg75_600,reg8_210,reg921_406,reg97_1001,reg97_1055
0,Abbott ISD,2018.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Abernathy ISD,2017.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Abilene ISD,2018.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Academy ISD,2018.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Adrian ISD,2018.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

# Clean variables for merge

problems with district name from scraping

In [36]:
tea = tea.pipe(clean_for_merge.resolve_unicode_problems, 'distname')
laws = laws.pipe(clean_for_merge.resolve_unicode_problems, 'distname')

scraped names in title case, but tea all caps. change scraped distname to caps

In [37]:
laws = laws.pipe(clean_for_merge.uppercase_column, 'distname')

sometimes districts named CISD othertimes ISD. Make all ISD

In [38]:
tea = clean_for_merge.replace_column_values(tea, 'distname', 'CISD', 'ISD')
laws = clean_for_merge.replace_column_values(laws, 'distname', 'CISD', 'ISD')

fix district names that don't match

In [39]:
tea = clean_for_merge.sync_district_names(tea, 'distname')
laws = clean_for_merge.sync_district_names(laws, 'distname')

In [40]:
mismatch = clean_for_merge.get_not_in(laws, 'distname', tea, 'distname')
mismatch_list = clean_for_merge.strip_distnum_parens(list(mismatch.distname))

In [41]:
df = clean_for_merge.distnum_in_paren(
    tea[[elem in mismatch_list for elem in tea.distname]])
df

/Users/kylieleblancKylie/domino/dofis/code/clean/library/clean_for_merge.py:48: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  ')'

,district,distname,year,cntyname,distischarter,rating,students_num,students_frpl_num,students_black_num,students_hisp_num,...,alg_avescore,alg_numtakers,bio_avescore,bio_numtakers,eng1_avescore,eng1_numtakers,eng2_avescore,eng2_numtakers,us_avescore,us_numtakers
80,15905,EDGEWOOD ISD (015905),yr1112,BEXAR,N,NaN,11822,11425,110,11634,...,3595.0,617.0,3665.0,636.0,1853.0,658.0,1658.0,7.0,3622.0,207.0
90,15915,NORTHSIDE ISD (015915),yr1112,BEXAR,N,NaN,97204,52226,5974,66384,...,3984.0,6896.0,4005.0,6639.0,2031.0,6849.0,1793.0,268.0,3664.0,786.0
115,19913,HUBBARD ISD (019913),yr1112,BOWIE,N,NaN,97,61,0,8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
193,39905,MIDWAY ISD (039905),yr1112,CLAY,N,NaN,94,44,0,5,...,4012.0,5.0,3757.0,5.0,1912.0,5.0,NaN,NaN,NaN,NaN
212,43914,WYLIE ISD (043914),yr1112,COLLIN,N,NaN,12879,3546,1743,2729,...,4017.0,783.0,4081.0,877.0,2043.0,894.0,NaN,NaN,NaN,NaN
294,57911,HIGHLAND PARK ISD (057911),yr1112,DALLAS,N,NaN,6770,0,30,320,...,4284.0,512.0,4377.0,508.0,2151.0,511.0,2059.0,272.0,4345.0,270.0
607,109905,HUBBARD ISD (109905),yr1112,HILL,N,NaN,403,278,85,43,...,3717.0,26.0,3817.0,23.0,2025.0,22.0,NaN,NaN,3509.0,26.0
754,145902,CENTERVILLE ISD (145902),yr1112,LEON,N,NaN,689,261,57,80,...,3732.0,57.0,3800.0,62.0,1973.0,65.0,NaN,NaN,3397.0,22.0
809,161903,MIDWAY ISD (161903),yr1112,MCLENNAN,N,NaN,7180,2147,811,1400,...,3990.0,505.0,4067.0,496.0,2058.0,491.0,1761.0,97.0,NaN,NaN
954,188903,HIGHLAND PARK ISD (188903),yr1112,POTTER,N,NaN,922,553,35,281,...,3818.0,59.0,3783.0,63.0,1954.0,64.0,NaN,NaN,3772.0,53.0
1030,212909,CHAPEL HILL ISD (212909),yr1112,SMITH,N,NaN,3446,2469,690,1295,...,3726.0,219.0,3812.0,219.0,1953.0,224.0,NaN,NaN,NaN,1.0
1077,221912,WYLIE ISD (221912),yr1112,TAYLOR,N,NaN,3391,559,113,423,...,4281.0,244.0,4204.0,240.0,2089.0,242.0,NaN,NaN,NaN,NaN
1086,225906,CHAPEL HILL ISD (225906),yr1112,TITUS,N,NaN,968,433,20,307,...,3933.0,74.0,3951.0,81.0,2066.0,83.0,NaN,NaN,NaN,NaN
1117,228904,CENTERVILLE ISD (228904),yr1112,TRINITY,N,NaN,129,86,0,4,...,3711.0,10.0,3642.0,15.0,1887.0,10.0,1767.0,5.0,NaN,3.0
1142,234903,EDGEWOOD ISD (234903),yr1112,VAN ZANDT,N,NaN,936,477,59,68,...,3964.0,70.0,4012.0,70.0,1970.0,73.0,NaN,NaN,3885.0,68.0
1183,244905,NORTHSIDE ISD (244905),yr1112,WILBARGER,N,NaN,175,84,6,39,...,3660.0,13.0,NaN,NaN,1902.0,8.0,NaN,NaN,3861.0,16.0
1307,15905,EDGEWOOD ISD (015905),yr1213,BEXAR,N,M,11931,11413,123,11725,...,3523.0,872.0,3617.0,798.0,1809.0,893.0,1918.0,628.0,NaN,4.0
1317,15915,NORTHSIDE ISD (015915),yr1213,BEXAR,N,M,99426,53168,6037,68290,...,3926.0,7121.0,4096.0,7211.0,2040.0,7461.0,2167.0,6636.0,3856.0,24.0
1342,19913,HUBBARD ISD (019913),yr1213,BOWIE,N,M,99,50,0,10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1419,39905,MIDWAY ISD (039905),yr1213,CLAY,N,M,95,41,0,5,...,4105.0,9.0,3966.0,9.0,1979.0,11.0,1918.0,6.0,NaN,NaN
1438,43914,WYLIE ISD (043914),yr1213,COLLIN,N,M,13361,3864,1836,2892,...,4075.0,1023.0,4165.0,970.0,2041.0,992.0,2159.0,857.0,NaN,3.0
1521,57911,HIGHLAND PARK ISD (057911),yr1213,DALLAS,N,M,6828,0,30,341,...,4276.0,525.0,4503.0,508.0,2277.0,501.0,2316.0,516.0,NaN,1.0
1835,109905,HUBBARD ISD (109905),yr1213,HILL,N,M,384,262,74,47,...,3603.0,38.0,3818.0,35.0,2009.0,34.0,2079.0,24.0,NaN,NaN
1982,145902,CENTERVILLE ISD (145902),yr1213,LEON,N,M,668,263,55,74,...,3511.0,50.0,3863.0,56.0,1871.0,65.0,2070.0,60.0,NaN,1.0
2037,161903,MIDWAY ISD (161903),yr1213,MCLENNAN,N,M,7337,2203,847,1503,...,3984.0,586.0,4222.0,559.0,2137.0,566.0,2259.0,490.0,NaN,2.0
2181,188903,HIGHLAND PARK ISD (188903),yr1213,POTTER,N,M,917,589,29,288,...,3762.0,63.0,3857.0,59.0,1939.0,65.0,2116.0,59.0,NaN,1.0
2258,212909,CHAPEL HILL ISD (212909),yr1213,SMITH,N,M,3442,2556,659,1363,...,3690.0,269.0,3830.0,255.0,1933.0,282.0,2040.0,211.0,NaN,2.0
2306,221912,WYLIE ISD (221912),yr1213,TAYLOR,N,M,3649,593,121,493,...,4229.0,249.0,4280.0,266.0,2159.0,260.0,2177.0,246.0,NaN,1.0
2315,225906,CHAPEL HILL ISD (225906),yr1213,TITUS,N,M,1008,476,31,308,...,3976.0,75.0,3946.0,73.0,2047.0,77.0,2106.0,88.0,3943.0,72.0
2347,228904,CENTERVILLE ISD (228904),yr1213,TRINITY,N,I,118,83,0,5,...,3421.0,13.0,3645.0,8.0,1754.0,16.0,1958.0,9.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6220,19913,HUBBARD ISD (019913),yr1617,BOWIE,N,M,84,64,0,17,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6296,39905,MIDWAY ISD (039905),yr1617,CLAY,N,M,129,65,0,7,...,4152.0,7.0,3990.0,7.0,4007.0,8.0,4088.0,11.0,4067.0,15.0
6315,43914,WYLIE ISD (043914),yr1617,COLLIN,N,M,14972,3873,2118,3227,...,4429.0,1143.0,4447.0,1118.0,4205.0,1216.0,4218.0,1235.0,4486.0,970.0
6396,57911,HIGHLAND PARK ISD (057911),yr1617,DALLAS,N,M,7024,0,52,343,...,4405.0,542.0,4662.0,538.0,4590.0,535.0,4656.0,499.0,5011.0,543.0
6700,109905,HUBBARD ISD (109905),yr1617,HILL,N,M,389,237,49,63,...,3669.0,36.0,4070.0,36.0,3796.0,44.0,3767.0,35.0,4174.0,30.0
6847,145902,CENTERVILLE ISD (145902),yr1617,LEON,N,M,647,286,63,76,...,3820.0,70.0,3968.0,57.0,3881.0,71.0,4084.0,63.0,4280.0,48.0
6901,161903,MIDWAY ISD (161903),yr1617,MCLENNAN,N,M,7886,2403,938,1847,...,4188.0,632.0,4373.0,616.0,4185.0,632.0,4286.0,643.0,4481.0,600.0
7042,188903,HIGHLAND PARK ISD (188903),yr1617,POTTER,N,M,926,577,31,339,...,3892.0,54.0,4305.0,51.0,4003.0,70.0,4025.0,50.0,4099.0,59.0
7118,212909,CHAPEL HILL ISD (212909),yr1617,SMITH,N,M,3650,2777,646,1671,...,3858.0,304.0,4006.0,177.0,3917.0,315.0,3970.0,303.0,4124.0,285.0
7162,221912,WYLIE ISD (221912),yr1617,TAYLOR,N,M,4244,754,147,766,...,4374.0,311.0,4358.0,323.0,4317.0,320.0,4303.0,288.0,4552.0,234.0
7171,225906,CHAPEL HILL ISD (225906),yr1617,TITUS,N,M,1022,501,27,371,...,4103.0,102.0,4090.0,111.0,4038.0,121.0,3960.0,97.0,4047.0,119.0
7204,228904,CENTERVILLE ISD (228904),yr1617,TRINITY,N,M,113,67,0,8,...,NaN,4.0,4557.0,5.0,3944.0,6.0,3921.0,11.0,4147.0,14.0
7228,234903,EDGEWOOD ISD (234903),yr1617,VAN ZANDT,N,M,948,425,35,89,...,4030.0,84.0,4073.0,79.0,3865.0,96.0,3913.0,87.0,4105.0,80.0
7267,244905,NORTHSIDE ISD (244905),yr1617,WILBARGER,N,M,210,69,7,56,...,3872.0,22.0,3892.0,16.0,3873.0,22.0,3795.0,20.0,3965.0,13.0
7388,15905,EDGEWOOD ISD (015905),yr1718,BEXAR,N,M,10878,9909,147,10646,...,3864.0,766.0,3838.0,683.0,3643.0,942.0,3715.0,862.0,4076.0,581.0
7398,15915,NORTHSIDE ISD (015915),yr1718,BEXAR,N,M,105492,52605,6769,71615,...,4130.0,8056.0,4278.0,8199.0,3983.0,9342.0,4069.0,8728.0,4428.0,7195.0
7423,19913,HUBBARD ISD (019913),yr1718,BOWIE,N,M,84,64,0,17,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7499,39905,MIDWAY ISD (039905),yr1718,CLAY,N,M,129,65,0,7,...,4273.0,9.0,4248.0,10.0,4279.0,10.0,3825.0,11.0,4197.0,10.0
7518,43914,WYLIE ISD (043914),yr1718,COLLIN,N,M,14972,3873,2118,3227,...,4526.0,1175.0,4564.0,1159.0,4203.0,1214.0,4263.0,1169.0,4610.0,1094.0
7599,57911,HIGHLAND PARK ISD (057911),yr1718,DALLAS,N,M,7024,0,52,343,...,4545.0,558.0,4729.0,563.0,4555.0,561.0,4574.0,532.0,5039.0,492.0
7903,109905,HUBBARD ISD (109905),yr1718,HILL,N,M,389,237,49,63,...,3729.0,25.0,3924.0,19.0,3676.0,34.0,3988.0,42.0,4108.0,24.0
8050,145902,CENTERVILLE ISD (145902),yr1718,LEON,N,M,647,286,63,76,...,4039.0,34.0,4135.0,47.0,3925.0,40.0,3972.0,61.0,4134.0,51.0
8104,161903,MIDWAY ISD (161903),yr1718,MCLENNAN,N,M,7886,2403,938,1847,...,4258.0,688.0,4430.0,682.0,4158.0,707.0,4285.0,611.0,4491.0,595.0
8245,188903,HIGHLAND PARK ISD (188903),yr1718,POTTER,N,M,926,577,31,339,...,4079.0,72.0,4092.0,54.0,4027.0,65.0,4060.0,57.0,4424.0,35.0
8321,212909,CHAPEL HILL ISD (212909),yr1718,SMITH,N,M,3650,2777,646,1671,...,3857.0,61.0,4087.0,427.0,3939.0,312.0,3910.0,306.0,4128.0,247.0
8365,221912,WYLIE ISD (221912),yr1718,TAYLOR,N,M,4244,754,147,766,...,4315.0,338.0,4371.0,341.0,4261.0,339.0,4368.0,316.0,4692.0,258.0
8374,225906,CHAPEL HILL ISD (225906),yr1718,TITUS,N,M,1022,501,27,371,...,4093.0,83.0,4057.0,91.0,4059.0,94.0,4140.0,104.0,4368.0,32.0
8407,228904,CENTERVILLE ISD (228904),yr1718,TRINITY,N,M,113,67,0,8,...,3776.0,8.0,NaN,NaN,3707.0,9.0,NaN,4.0,NaN,3.0
8431,234903,EDGEWOOD ISD (234903),yr1718,VAN ZANDT,N,M,948,425,35,89,...,4155.0,74.0,4011.0,72.0,3932.0,89.0,3983.0,87.0,4189.0,83.0
8470,244905,NORTHSIDE ISD (244905),yr1718,WILBARGER,N,M,210,69,7,56,...,3886.0,10.0,4040.0,15.0,4068.0,15.0,3976.0,23.0,3871.0,19.0

In [42]:
tea.loc[(tea['distname'].isin(mismatch_list)), 'distname'] = (
    tea.loc[(tea['distname'].isin(mismatch_list))]
        .pipe(clean_for_merge.distnum_in_paren)['distname']
)

/Users/kylieleblancKylie/domino/dofis/code/clean/library/clean_for_merge.py:48: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  ')'

create number and non-number version of every district in tea. Then we can merge with correct version

In [43]:
tea.head()

,district,distname,year,cntyname,distischarter,rating,students_num,students_frpl_num,students_black_num,students_hisp_num,...,alg_avescore,alg_numtakers,bio_avescore,bio_numtakers,eng1_avescore,eng1_numtakers,eng2_avescore,eng2_numtakers,us_avescore,us_numtakers
0,1902,CAYUGA ISD,yr1112,ANDERSON,N,NaN,590,220,35,30,...,4079.0,61.0,4049.0,60.0,2049.0,62.0,NaN,NaN,3535.0,44.0
1,1903,ELKHART ISD,yr1112,ANDERSON,N,NaN,1271,706,62,100,...,4012.0,68.0,3608.0,80.0,2040.0,79.0,NaN,NaN,NaN,NaN
2,1904,FRANKSTON ISD,yr1112,ANDERSON,N,NaN,733,425,82,76,...,3733.0,34.0,3512.0,32.0,1898.0,37.0,NaN,NaN,3503.0,37.0
3,1906,NECHES ISD,yr1112,ANDERSON,N,NaN,403,163,29,40,...,3885.0,33.0,4056.0,33.0,1968.0,34.0,NaN,NaN,NaN,NaN
4,1907,PALESTINE ISD,yr1112,ANDERSON,N,NaN,3220,2470,903,1255,...,3657.0,160.0,3847.0,196.0,1858.0,196.0,NaN,NaN,3713.0,198.0

In [44]:
laws.head()

,distname,date,reg1_251,reg1_253,reg102_1301,reg102_1303,reg102_1305,reg102_1307,reg102_1309,reg102_1311,...,reg551_083,reg551_084,reg552_023,reg552_024,reg7_056,reg75_600,reg8_210,reg921_406,reg97_1001,reg97_1055
0,ABBOTT ISD,2018.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,ABERNATHY ISD,2017.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,ABILENE ISD,2018.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,ACADEMY ISD,2018.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,ADRIAN ISD,2018.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

# Merge

In [45]:
len(data)

8514

In [46]:
data = tea.merge(laws, left_on='distname', right_on='distname', how='left', indicator = True)
data.loc[(data['_merge'] == 'both'), 'doi'] = True 
data.loc[(data['_merge'] == 'left_only'), 'doi'] = False 
data.head()

,district,distname,year,cntyname,distischarter,rating,students_num,students_frpl_num,students_black_num,students_hisp_num,...,reg552_023,reg552_024,reg7_056,reg75_600,reg8_210,reg921_406,reg97_1001,reg97_1055,_merge,doi
0,1902,CAYUGA ISD,yr1112,ANDERSON,N,NaN,590,220,35,30,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,both,True
1,1903,ELKHART ISD,yr1112,ANDERSON,N,NaN,1271,706,62,100,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,both,True
2,1904,FRANKSTON ISD,yr1112,ANDERSON,N,NaN,733,425,82,76,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,both,True
3,1906,NECHES ISD,yr1112,ANDERSON,N,NaN,403,163,29,40,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,both,True
4,1907,PALESTINE ISD,yr1112,ANDERSON,N,NaN,3220,2470,903,1255,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,both,True

In [49]:
laws.distname.nunique(), tea.distname.nunique(), data.distname.nunique()

(781, 1276, 1276)

# Save

In [50]:
data.to_csv(os.path.join(start.data_path, 'clean', 'master_data.csv'),
                  sep=",")