In [1]:
import pandas as pd
import os
pd.set_option('display.max_columns', 500)
data_path = '/Users/kylieleblancKylie/domino/dofis/data/'

In [34]:
data = pd.read_csv(os.path.join(data_path, 'clean', 'gdid.csv'))
sample = data.sample(1000)
list(sample.columns)
subjects = (list(sample.filter(regex = ("_avescore"))))
variables = ['campus', 'year'] + subjects
sample = sample[variables]
sample.sample(8)

/Users/kylieleblancKylie/anaconda/envs/spacy/lib/python3.7/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (8,9,10,93) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,campus,year,alg_avescore,bio_avescore,eng1_avescore,eng2_avescore,m_3rd_avescore,m_4th_avescore,m_5th_avescore,m_6th_avescore,m_7th_avescore,m_8th_avescore,r_3rd_avescore,r_4th_avescore,r_5th_avescore,r_6th_avescore,r_7th_avescore,r_8th_avescore,s_8th_avescore,us_avescore
12344,101902048,2013,4247.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1594.0,1679.0,NaN,NaN,NaN,NaN,1609.0,1660.0,3785.0,NaN
63770,79901010,2019,4168.0,4415.0,4355.0,4238.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4593.0
6118,205905041,2012,4090.0,NaN,NaN,NaN,NaN,NaN,NaN,1561.0,1574.0,1595.0,NaN,NaN,NaN,1596.0,1641.0,1637.0,3547.0,NaN
40167,147902104,2016,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2565,108904039,2012,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53098,39904001,2018,3890.0,3963.0,3979.0,4268.0,1485.0,1467.0,1662.0,1603.0,1618.0,1687.0,1475.0,1459.0,1649.0,1508.0,1729.0,1703.0,3732.0,4233.0
4408,128901105,2012,NaN,NaN,NaN,NaN,1478.0,1517.0,1615.0,NaN,NaN,NaN,1460.0,1498.0,1544.0,NaN,NaN,NaN,NaN,NaN
11848,84901043,2013,NaN,NaN,NaN,NaN,NaN,NaN,1583.0,1607.0,NaN,NaN,NaN,NaN,1512.0,1561.0,NaN,NaN,NaN,NaN

In [64]:
reshape = pd.melt(sample, id_vars = ['campus', 'year'])
reshape = reshape.rename(columns = {'variable': 'test', 'value': 'score'})
reshape = reshape.dropna(axis = 0)
reshape.sample(5)

          campus  year            test   score
6939    57904101  2017  m_5th_avescore  1601.0
13757  161921041  2014  r_6th_avescore  1555.0
16078  161918041  2013  s_8th_avescore  3715.0
12160  240903110  2018  r_5th_avescore  1668.0
13577  227901103  2018  r_6th_avescore  1676.0

In [53]:
means = []
sds = []
for var in subjects:
    mean = reshape[(reshape.test == var) & (reshape.year == 2015)].score.mean()
    means.append(mean)
    sd = reshape[reshape.test == var].score.std()
    sds.append(sd)

means_sds = pd.DataFrame(list(zip(subjects, means, sds)), 
               columns =['test', 'test_mean', 'test_std']) 
means_sds

              test    test_mean    test_std
0     alg_avescore  4052.560976  420.716358
1     bio_avescore  4019.565217  299.074384
2    eng1_avescore  3936.423077  277.809521
3    eng2_avescore  3911.923077  269.434559
4   m_3rd_avescore  1433.983051   62.355105
5   m_4th_avescore  1526.483333   63.417207
6   m_5th_avescore  1590.351852   66.748456
7   m_6th_avescore  1623.028571   69.614488
8   m_7th_avescore  1647.366667   67.972685
9   m_8th_avescore  1661.931034   65.472243
10  r_3rd_avescore  1423.101695   56.780097
11  r_4th_avescore  1504.733333   54.579786
12  r_5th_avescore  1548.592593   55.747125
13  r_6th_avescore  1600.800000   52.326272
14  r_7th_avescore  1652.033333   50.676413
15  r_8th_avescore  1674.862069   51.867717
16  s_8th_avescore  3799.413793  258.672216
17     us_avescore  4048.333333  319.131084

In [54]:
df = reshape.merge(means_sds, left_on = 'test', right_on = 'test')
df.sample(5)

          campus  year            test  score    test_mean    test_std
942     84910120  2012    alg_avescore    NaN  4052.560976  420.716358
16588  227901166  2016  s_8th_avescore    NaN  3799.413793  258.672216
12515  254901101  2016  r_5th_avescore    NaN  1548.592593   55.747125
12365  101913198  2018  r_5th_avescore    NaN  1548.592593   55.747125
10980  101912303  2017  r_3rd_avescore    NaN  1423.101695   56.780097

In [56]:
df['score_std'] = (df.score - df.test_mean)/df.test_std
df

,campus,year,test,score,test_mean,test_std,score_std
0,127905101,2016,alg_avescore,NaN,4052.560976,420.716358,NaN
1,137901105,2016,alg_avescore,NaN,4052.560976,420.716358,NaN
2,71902150,2013,alg_avescore,NaN,4052.560976,420.716358,NaN
3,62906101,2018,alg_avescore,NaN,4052.560976,420.716358,NaN
4,31903001,2013,alg_avescore,3434.0,4052.560976,420.716358,-1.470257
5,101902101,2018,alg_avescore,NaN,4052.560976,420.716358,NaN
6,82903001,2019,alg_avescore,3930.0,4052.560976,420.716358,-0.291315
7,163904105,2019,alg_avescore,NaN,4052.560976,420.716358,NaN
8,59901101,2014,alg_avescore,NaN,4052.560976,420.716358,NaN
9,101912364,2016,alg_avescore,NaN,4052.560976,420.716358,NaN
10,107906041,2015,alg_avescore,NaN,4052.560976,420.716358,NaN
11,61911118,2013,alg_avescore,NaN,4052.560976,420.716358,NaN
12,71902142,2019,alg_avescore,NaN,4052.560976,420.716358,NaN
13,220905048,2013,alg_avescore,4108.0,4052.560976,420.716358,0.131773
14,152907042,2018,alg_avescore,4500.0,4052.560976,420.716358,1.063517
15,101806042,2012,alg_avescore,4324.0,4052.560976,420.716358,0.645183
16,37904105,2014,alg_avescore,NaN,4052.560976,420.716358,NaN
17,174904110,2018,alg_avescore,NaN,4052.560976,420.716358,NaN
18,227910111,2012,alg_avescore,NaN,4052.560976,420.716358,NaN
19,243905109,2019,alg_avescore,NaN,4052.560976,420.716358,NaN
20,70903102,2017,alg_avescore,NaN,4052.560976,420.716358,NaN
21,101917118,2015,alg_avescore,NaN,4052.560976,420.716358,NaN
22,177902102,2019,alg_avescore,NaN,4052.560976,420.716358,NaN
23,102902110,2017,alg_avescore,NaN,4052.560976,420.716358,NaN
24,15911006,2015,alg_avescore,NaN,4052.560976,420.716358,NaN
25,101917013,2016,alg_avescore,3993.0,4052.560976,420.716358,-0.141570
26,152907109,2019,alg_avescore,NaN,4052.560976,420.716358,NaN
27,64903104,2014,alg_avescore,NaN,4052.560976,420.716358,NaN
28,101917143,2018,alg_avescore,NaN,4052.560976,420.716358,NaN
29,240903123,2012,alg_avescore,NaN,4052.560976,420.716358,NaN
...,...,...,...,...,...,...,...
17970,246913102,2016,us_avescore,NaN,4048.333333,319.131084,NaN
17971,101914033,2014,us_avescore,NaN,4048.333333,319.131084,NaN
17972,42901001,2019,us_avescore,4500.0,4048.333333,319.131084,1.415301
17973,246913112,2012,us_avescore,NaN,4048.333333,319.131084,NaN
17974,239903001,2015,us_avescore,3844.0,4048.333333,319.131084,-0.640280
17975,221801006,2013,us_avescore,NaN,4048.333333,319.131084,NaN
17976,92903123,2013,us_avescore,NaN,4048.333333,319.131084,NaN
17977,101924041,2016,us_avescore,NaN,4048.333333,319.131084,NaN
17978,62904041,2018,us_avescore,NaN,4048.333333,319.131084,NaN
17979,108906006,2018,us_avescore,4275.0,4048.333333,319.131084,0.710262
17980,101912303,2017,us_avescore,NaN,4048.333333,319.131084,NaN
17981,220902101,2014,us_avescore,NaN,4048.333333,319.131084,NaN
17982,181908002,2014,us_avescore,NaN,4048.333333,319.131084,NaN
17983,39904001,2018,us_avescore,4233.0,4048.333333,319.131084,0.578655
17984,227816003,2019,us_avescore,NaN,4048.333333,319.131084,NaN
17985,43914003,2017,us_avescore,4455.0,4048.333333,319.131084,1.274294
17986,62904001,2012,us_avescore,NaN,4048.333333,319.131084,NaN
17987,66903002,2013,us_avescore,NaN,4048.333333,319.131084,NaN
17988,80901102,2012,us_avescore,NaN,4048.333333,319.131084,NaN
17989,201914001,2015,us_avescore,4167.0,4048.333333,319.131084,0.371843
17990,158901102,2019,us_avescore,NaN,4048.333333,319.131084,NaN
17991,240903127,2019,us_avescore,NaN,4048.333333,319.131084,NaN
17992,170902102,2012,us_avescore,NaN,4048.333333,319.131084,NaN
17993,57904002,2016,us_avescore,NaN,4048.333333,319.131084,NaN
17994,20905001,2013,us_avescore,NaN,4048.333333,319.131084,NaN
17995,126911042,2018,us_avescore,NaN,4048.333333,319.131084,NaN
17996,101914005,2017,us_avescore,4366.0,4048.333333,319.131084,0.995411
17997,101921107,2018,us_avescore,NaN,4048.333333,319.131084,NaN
17998,128902003,2019,us_avescore,NaN,4048.333333,319.131084,NaN
17999,212905045,2013,us_avescore,NaN,4048.333333,319.131084,NaN

In [65]:
test = pd.read_csv(os.path.join(data_path, 'clean', 'gdid_subject.csv'))
test.head()

/Users/kylieleblancKylie/anaconda/envs/spacy/lib/python3.7/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (11,12,13,30,77,96) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Unnamed: 0,campus,year,test,score,score_std,campname,campischarter,district,distname,distischarter,rating_academic,rating_financial,rating_academic_c,type,type_description,cntyname,students_amind_num,students_asian_num,students_black_num,students_frpl_num,students_hisp_num,students_num,students_num_d,students_paci_num,students_tworaces_num,students_white_num,teachers_badegree_num,teachers_exp_ave,teachers_msdegree_num,teachers_new_num,teachers_nodegree_num,teachers_num,teachers_phddegree_num,teachers_tenure_ave,teachers_turnover_ratio_d,alg_avescore,bio_avescore,eng1_avescore,eng2_avescore,m_3rd_avescore,m_4th_avescore,m_5th_avescore,m_6th_avescore,m_7th_avescore,m_8th_avescore,r_3rd_avescore,r_4th_avescore,r_5th_avescore,r_6th_avescore,r_7th_avescore,r_8th_avescore,s_8th_avescore,us_avescore,alg_numtakers,bio_numtakers,eng1_numtakers,eng2_numtakers,m_3rd_numtakers,m_4th_numtakers,m_5th_numtakers,m_6th_numtakers,m_7th_numtakers,m_8th_numtakers,r_3rd_numtakers,r_4th_numtakers,r_5th_numtakers,r_6th_numtakers,r_7th_numtakers,r_8th_numtakers,s_8th_numtakers,us_numtakers,days_max,days_mean,days_min,class_size_1,class_size_2,class_size_3,class_size_4,class_size_5,class_size_6,class_size_k,class_size_sec_lang,class_size_sec_math,class_size_sec_r,class_size_sec_sci,class_size_sec_ss,stu_teach_ratio,Unnamed: 0_x,link,p_doi,doi_year,total,_merge_x,doi,Unnamed: 0_y,_merge_y,cert_area_elem,cert_area_voc,cert_secondary_ela,cert_secondary_math,cert_secondary_sci,certification,certification_report,vocational,county,cnty_pop,students_frpl,students_black,students_hisp,students_white,students_teacher_ratio,geography,charter,district_status,type_urban,type_suburban,type_town,type_rural,eligible,teachers_nodegree,teachers_badegree,teachers_msdegree,teachers_phddegree,r_3rd_std,m_3rd_std,r_4th_std,m_4th_std,r_5th_std,m_5th_std,r_6th_std,m_6th_std,r_7th_std,m_7th_std,r_8th_std,m_8th_std,s_8th_std,alg_std,bio_std,eng1_std,eng2_std,us_std,elem_math,elem_reading,elem,middle_math,middle_reading,middle_science,algebra,biology,eng1,math,reading,avescores,treatpost
0,0,57829001,2012,alg_avescore,3687.0,-0.819626,A+ ACADEMY,Y,57829,A+ ACADEMY,Y,NaN,NaN,NaN,I,CHARTER SCHOOL DISTRICTS,DALLAS,0,1,45,885,835,951,951,0,22,48,NaN,7.655153,NaN,8.9715,NaN,65.7541,NaN,2.781996,27.3128,3687.0,3709.0,3781.0,3813.0,1380.0,1508.0,1506.0,1617.0,1567.0,1603.0,1343.0,1481.0,1480.0,1524.0,1595.0,1643.0,3308.0,NaN,92.0,122.0,92.0,94.0,65.0,65.0,67.0,37.0,61.0,96.0,62.0,63.0,63.0,36.0,60.0,99.0,48.0,NaN,NaN,NaN,NaN,14.8,20,22.1,20.5,16.5,18.5,24,21.3,18.5,17.2,17.2,18.2,14.462976,NaN,NaN,NaN,NaN,NaN,left_only,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,DALLAS,2591.0,0.930599,0.047319,0.878023,0.050473,14.462976,NaN,True,charter,0,0,0,0,0,NaN,NaN,NaN,NaN,-1.508368,-1.021261,-0.430776,-0.319594,-1.243534,-1.39241,-1.13417,0.018016,-0.77873,-1.099079,-0.482462,-0.662111,-1.659743,-0.890295,-1.0805,-0.395833,-0.303964,NaN,-0.911089,-1.060893,-0.985991,-0.581058,-0.798454,-1.659743,-0.890295,-1.0805,-0.395833,-0.746073,-0.929673,-0.912334,False
1,1,57829001,2012,bio_avescore,3709.0,-1.031451,A+ ACADEMY,Y,57829,A+ ACADEMY,Y,NaN,NaN,NaN,I,CHARTER SCHOOL DISTRICTS,DALLAS,0,1,45,885,835,951,951,0,22,48,NaN,7.655153,NaN,8.9715,NaN,65.7541,NaN,2.781996,27.3128,3687.0,3709.0,3781.0,3813.0,1380.0,1508.0,1506.0,1617.0,1567.0,1603.0,1343.0,1481.0,1480.0,1524.0,1595.0,1643.0,3308.0,NaN,92.0,122.0,92.0,94.0,65.0,65.0,67.0,37.0,61.0,96.0,62.0,63.0,63.0,36.0,60.0,99.0,48.0,NaN,NaN,NaN,NaN,14.8,20,22.1,20.5,16.5,18.5,24,21.3,18.5,17.2,17.2,18.2,14.462976,NaN,NaN,NaN,NaN,NaN,left_only,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,DALLAS,2591.0,0.930599,0.047319,0.878023,0.050473,14.462976,NaN,True,charter,0,0,0,0,0,NaN,NaN,NaN,NaN,-1.508368,-1.021261,-0.430776,-0.319594,-1.243534,-1.39241,-1.13417,0.018016,-0.77873,-1.099079,-0.482462,-0.662111,-1.659743,-0.890295,-1.0805,-0.395833,-0.303964,NaN,-0.911089,-1.060893,-0.985991,-0.581058,-0.798454,-1.659743,-0.890295,-1.0805,-0.395833,-0.746073,-0.929673,-0.912334,False
2,2,57829001,2012,eng1_avescore,3781.0,-0.413504,A+ ACADEMY,Y,57829,A+ ACADEMY,Y,NaN,NaN,NaN,I,CHARTER SCHOOL DISTRICTS,DALLAS,0,1,45,885,835,951,951,0,22,48,NaN,7.655153,NaN,8.9715,NaN,65.7541,NaN,2.781996,27.3128,3687.0,3709.0,3781.0,3813.0,1380.0,1508.0,1506.0,1617.0,1567.0,1603.0,1343.0,1481.0,1480.0,1524.0,1595.0,1643.0,3308.0,NaN,92.0,122.0,92.0,94.0,65.0,65.0,67.0,37.0,61.0,96.0,62.0,63.0,63.0,36.0,60.0,99.0,48.0,NaN,NaN,NaN,NaN,14.8,20,22.1,20.5,16.5,18.5,24,21.3,18.5,17.2,17.2,18.2,14.462976,NaN,NaN,NaN,NaN,NaN,left_only,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,DALLAS,2591.0,0.930599,0.047319,0.878023,0.050473,14.462976,NaN,True,charter,0,0,0,0,0,NaN,NaN,NaN,NaN,-1.508368,-1.021261,-0.430776,-0.319594,-1.243534,-1.39241,-1.13417,0.018016,-0.77873,-1.099079,-0.482462,-0.662111,-1.659743,-0.890295,-1.0805,-0.395833,-0.303964,NaN,-0.911089,-1.060893,-0.985991,-0.581058,-0.798454,-1.659743,-0.890295,-1.0805,-0.395833,-0.746073,-0.929673,-0.912334,False
3,3,57829001,2012,eng2_avescore,3813.0,-0.293502,A+ ACADEMY,Y,57829,A+ ACADEMY,Y,NaN,NaN,NaN,I,CHARTER SCHOOL DISTRICTS,DALLAS,0,1,45,885,835,951,951,0,22,48,NaN,7.655153,NaN,8.9715,NaN,65.7541,NaN,2.781996,27.3128,3687.0,3709.0,3781.0,3813.0,1380.0,1508.0,1506.0,1617.0,1567.0,1603.0,1343.0,1481.0,1480.0,1524.0,1595.0,1643.0,3308.0,NaN,92.0,122.0,92.0,94.0,65.0,65.0,67.0,37.0,61.0,96.0,62.0,63.0,63.0,36.0,60.0,99.0,48.0,NaN,NaN,NaN,NaN,14.8,20,22.1,20.5,16.5,18.5,24,21.3,18.5,17.2,17.2,18.2,14.462976,NaN,NaN,NaN,NaN,NaN,left_only,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,DALLAS,2591.0,0.930599,0.047319,0.878023,0.050473,14.462976,NaN,True,charter,0,0,0,0,0,NaN,NaN,NaN,NaN,-1.508368,-1.021261,-0.430776,-0.319594,-1.243534,-1.39241,-1.13417,0.018016,-0.77873,-1.099079,-0.482462,-0.662111,-1.659743,-0.890295,-1.0805,-0.395833,-0.303964,NaN,-0.911089,-1.060893,-0.985991,-0.581058,-0.798454,-1.659743,-0.890295,-1.0805,-0.395833,-0.746073,-0.929673,-0.912334,False
4,4,57829001,2012,m_3rd_avescore,1380.0,-1.006307,A+ ACADEMY,Y,57829,A+ ACADEMY,Y,NaN,NaN,NaN,I,CHARTER SCHOOL DISTRICTS,DALLAS,0,1,45,885,835,951,951,0,22,48,NaN,7.655153,NaN,8.9715,NaN,65.7541,NaN,2.781996,27.3128,3687.0,3709.0,3781.0,3813.0,1380.0,1508.0,1506.0,1617.0,1567.0,1603.0,1343.0,1481.0,1480.0,1524.0,1595.0,1643.0,3308.0,NaN,92.0,122.0,92.0,94.0,65.0,65.0,67.0,37.0,61.0,96.0,62.0,63.0,63.0,36.0,60.0,99.0,48.0,NaN,NaN,NaN,NaN,14.8,20,22.1,20.5,16.5,18.5,24,21.3,18.5,17.2,17.2,18.2,14.462976,NaN,NaN,NaN,NaN,NaN,left_only,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,DALLAS,2591.0,0.930599,0.047319,0.878023,0.050473,14.462976,NaN,True,charter,0,0,0,0,0,NaN,NaN,NaN,NaN,-1.508368,-1.021261,-0.430776,-0.319594,-1.243534,-1.39241,-1.13417,0.018016,-0.77873,-1.099079,-0.482462,-0.662111,-1.659743,-0.890295,-1.0805,-0.395833,-0.303964,NaN,-0.911089,-1.060893,-0.985991,-0.581058,-0.798454,-1.659743,-0.890295,-1.0805,-0.395833,-0.746073,-0.929673,-0.912334,False

In [63]:
test.sample(6)

,Unnamed: 0,campus,year,test,score,score_std,campname,campischarter,district,distname,distischarter,rating_academic,rating_financial,rating_academic_c,type,type_description,cntyname,students_amind_num,students_asian_num,students_black_num,students_frpl_num,students_hisp_num,students_num,students_num_d,students_paci_num,students_tworaces_num,students_white_num,teachers_badegree_num,teachers_exp_ave,teachers_msdegree_num,teachers_new_num,teachers_nodegree_num,teachers_num,teachers_phddegree_num,teachers_tenure_ave,teachers_turnover_ratio_d,alg_avescore,bio_avescore,eng1_avescore,eng2_avescore,m_3rd_avescore,m_4th_avescore,m_5th_avescore,m_6th_avescore,m_7th_avescore,m_8th_avescore,r_3rd_avescore,r_4th_avescore,r_5th_avescore,r_6th_avescore,r_7th_avescore,r_8th_avescore,s_8th_avescore,us_avescore,alg_numtakers,bio_numtakers,eng1_numtakers,eng2_numtakers,m_3rd_numtakers,m_4th_numtakers,m_5th_numtakers,m_6th_numtakers,m_7th_numtakers,m_8th_numtakers,r_3rd_numtakers,r_4th_numtakers,r_5th_numtakers,r_6th_numtakers,r_7th_numtakers,r_8th_numtakers,s_8th_numtakers,us_numtakers,days_max,days_mean,days_min,class_size_1,class_size_2,class_size_3,class_size_4,class_size_5,class_size_6,class_size_k,class_size_sec_lang,class_size_sec_math,class_size_sec_r,class_size_sec_sci,class_size_sec_ss,stu_teach_ratio,Unnamed: 0_x,link,p_doi,doi_year,total,_merge_x,doi,Unnamed: 0_y,_merge_y,cert_area_elem,cert_area_voc,cert_secondary_ela,cert_secondary_math,cert_secondary_sci,certification,certification_report,vocational,county,cnty_pop,students_frpl,students_black,students_hisp,students_white,students_teacher_ratio,geography,charter,district_status,type_urban,type_suburban,type_town,type_rural,eligible,teachers_nodegree,teachers_badegree,teachers_msdegree,teachers_phddegree,r_3rd_std,m_3rd_std,r_4th_std,m_4th_std,r_5th_std,m_5th_std,r_6th_std,m_6th_std,r_7th_std,m_7th_std,r_8th_std,m_8th_std,s_8th_std,alg_std,bio_std,eng1_std,eng2_std,us_std,elem_math,elem_reading,elem,middle_math,middle_reading,middle_science,algebra,biology,eng1,math,reading,avescores,treatpost
659849,659849,57912106,2016,m_4th_avescore,1576.0,0.742515,HALEY J EL,N,57912,IRVING ISD,N,M,Pass,M,B,MAJOR SUBURBAN,DALLAS,50,12,48,667,578,764,34872,0,3,73,39.9,10.0,9.0,2.9,1.0,49.9,0.0,8.1,22.4,NaN,NaN,NaN,NaN,1481.0,1576.0,1626.0,NaN,NaN,NaN,1400.0,1501.0,1527.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,121.0,122.0,121.0,NaN,NaN,NaN,120.0,120.0,122.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.6,16.7,12.6,14.5,18.4,.,21,.,.,.,.,.,15.3,373.0,https://www.irvingisd.net/cms/lib/TX01917973/C...,0.999955,2017.0,9.0,both,True,2336.0,left_only,0.956522,NaN,NaN,NaN,NaN,1.000000,1.000000,NaN,DALLAS,2591.0,0.873037,0.062827,0.756545,0.095550,15.310621,Suburban,False,doi,0,1,0,0,1,0.02004,0.799599,0.180361,0.000000,-0.479290,0.627165,-0.092507,0.775529,-0.437743,0.531156,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.644617,-0.336513,0.154052,NaN,NaN,NaN,NaN,NaN,NaN,0.644617,-0.336513,0.154052,False
473523,473523,15911101,2015,r_8th_avescore,NaN,NaN,JOHN GLENN EL,N,15911,EAST CENTRAL ISD,N,M,Pass,M,B,MAJOR SUBURBAN,BEXAR,0,5,31,327,344,612,9811,0,18,214,29.4,13.0,8.0,2,0.0,37.4,0.0,10.4,19.3,NaN,NaN,NaN,NaN,1442.0,NaN,NaN,NaN,NaN,NaN,1449.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,114.0,NaN,NaN,NaN,NaN,NaN,114.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.6,20.5,19.1,.,.,.,20.6,.,.,.,.,.,16.4,222.0,https://drive.google.com/open?id=1laYeq1xQHm2Z...,0.999955,2019.0,8.0,both,True,632.0,left_only,1.000000,NaN,NaN,NaN,NaN,0.973684,0.973684,NaN,BEXAR,1918.0,0.534314,0.050654,0.562092,0.349673,16.363636,Suburban,False,doi,0,1,0,0,1,0.00000,0.786096,0.213904,0.000000,0.405356,-0.009356,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.009356,0.405356,0.198000,NaN,NaN,NaN,NaN,NaN,NaN,-0.009356,0.405356,0.198000,False
195643,195643,57914103,2013,bio_avescore,NaN,NaN,GALLOWAY EL,N,57914,MESQUITE ISD,N,M,NaN,M,B,MAJOR SUBURBAN,DALLAS,2,4,150,604,496,732,39028,0,5,75,NaN,9.8,NaN,1,NaN,44.4,NaN,8.2,12.2,NaN,NaN,NaN,NaN,1420.0,1523.0,1619.0,1647.0,NaN,NaN,1357.0,1471.0,1533.0,1560.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,70.0,75.0,99.0,97.0,NaN,NaN,64.0,70.0,95.0,97.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21.4,20,16.4,20,25.4,24.4,15.4,.,.,.,.,.,16.6,494.0,https://resources.finalsite.net/images/v154220...,0.000045,2017.0,7.0,both,True,2315.0,left_only,1.000000,NaN,NaN,NaN,NaN,1.000000,1.000000,NaN,DALLAS,2591.0,0.825137,0.204918,0.677596,0.102459,16.486486,Suburban,False,doi,0,1,0,0,1,NaN,NaN,NaN,NaN,-1.255612,-0.368419,-0.599910,-0.078023,-0.334876,0.418948,-0.49077,0.485529,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.009165,-0.730133,-0.369649,0.485529,-0.49077,NaN,NaN,NaN,NaN,0.114509,-0.670292,-0.277891,False
1082763,1082763,241902101,2018,m_8th_avescore,NaN,NaN,EAST BERNARD EL,N,241902,EAST BERNARD ISD,N,A,Pass,Met Standard,D,OTHER CENTRAL CITY SUBURBAN,WHARTON,0,0,23,144,106,337,949,0,0,208,23.5,21.4,3.0,0,0.0,27.5,1.0,13.4,10.2,NaN,NaN,NaN,NaN,1502.0,1642.0,NaN,NaN,NaN,NaN,1468.0,1593.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,56.0,56.0,NaN,NaN,NaN,NaN,56.0,56.0,NaN,NaN,NaN,NaN,NaN,NaN,191.0,178.0,165.0,16.1,18.7,13.6,14.5,.,.,15.3,.,.,.,.,.,12.3,221.0,https://1.cdn.edl.io/m2Y7mQEE9cI2UzC82atSqsOMQ...,0.999955,2017.0,5.0,both,True,8414.0,left_only,1.000000,NaN,NaN,NaN,NaN,1.000000,1.000000,NaN,WHARTON,41.0,0.427300,0.068249,0.314540,0.617211,12.254545,Suburban,False,doi,0,1,0,0,1,0.00000,0.854545,0.109091,0.036364,0.748381,0.969907,1.463529,1.838444,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.404175,1.105955,1.255065,NaN,NaN,NaN,NaN,NaN,NaN,1.404175,1.105955,1.255065,True
1174396,1174396,101919104,2019,m_3rd_avescore,1472.0,0.473242,JOHN WINSHIP EL,N,101919,SPRING ISD,N,Not Rated: Harvey Provision,Pass,Met Standard,B,MAJOR SUBURBAN,HARRIS,9,16,128,329,202,530,36079,1,19,155,27.5,7.5,7.0,0,0.0,34.5,0.0,4.7,22.5,NaN,NaN,NaN,NaN,1472.0,1565.0,1607.0,NaN,NaN,NaN,1431.0,1472.0,1573.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,84.0,90.0,95.0,NaN,NaN,NaN,83.0,90.0,95.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.8,40.3,32.6,42,49.5,.,16.3,.,.,.,.,.,15.4,701.0,http://www.springisd.org/cms/lib/TX01918331/Ce...,0.999955,2017.0,14.0,both,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,HARRIS,4565.0,0.620755,0.241509,0.381132,0.292453,15.362319,Suburban,False,doi,0,1,0,0,1,0.00000,0.797101,0.202899,0.000000,0.080384,0.480275,-0.582997,0.598377,0.350904,0.226592,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.435081,-0.050570,0.192256,NaN,NaN,NaN,NaN,NaN,NaN,0.435081,-0.050570,0.192256,True
1201658,1201658,165901002,2019,r_7th_avescore,NaN,NaN,LEE H S,N,165901,MIDLAND ISD,N,C,Pass,Met Standard,C,OTHER CENTRAL CITY,MIDLAND,3,75,191,623,1328,2209,25663,1,25,586,83.4,11.8,44.3,4.5,0.0,128.7,1.0,7.3,18.3,3483.0,3916.0,3438.0,3863.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4315.0,110.0,529.0,310.0,973.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,691.0,NaN,NaN,NaN,.,.,.,.,.,.,.,11.2,16.8,13.9,17.1,17.3,17.2,498.0,https://www.midlandisd.net//cms/lib/TX01000898...,0.999955,2018.0,10.0,both,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MIDLAND,162.0,0.282028,0.086464,0.601177,0.265278,17.163947,Urban,False,doi,1,0,0,0,1,0.00000,0.648019,0.344211,0.007770,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1.413204,-0.373477,-1.527963,-0.12341,1.140504,NaN,NaN,NaN,NaN,NaN,NaN,-1.413204,-0.373477,-1.527963,NaN,NaN,-0.893341,True